/* Coolors Exported Palette - coolors.co/ffe0b5-ff4365-ede580-00d9c0-a4af69 */

/* HSL */
$color1: hsla(35%, 100%, 85%, 1);
$color2: hsla(349%, 100%, 63%, 1);
$color3: hsla(56%, 75%, 72%, 1);
$color4: hsla(173%, 100%, 43%, 1);
$color5: hsla(69%, 30%, 55%, 1);

/* RGB */
$color1: rgba(255, 224, 181, 1);
$color2: rgba(255, 67, 101, 1);
$color3: rgba(237, 229, 128, 1);
$color4: rgba(0, 217, 192, 1);
$color5: rgba(164, 175, 105, 1);